{% extends 'base.html' %}

{% block title%}
<title>Добавление товара</title>
{% endblock %}

{% block content %}

<div class="container">
    <h1>Добавление товара</h1>
    <form method="post">
        <input type="text" class="form-control" name="name" id="name" placeholder="Название"><br>
        <input type="number" class="form-control" name="price" id="price" placeholder="Цена"><br>
        <input type="text" class="form-control" name="description" id="description" placeholder="Описание"><br>
        <button class="btn btn-success" type="submit">Добавить</button>
    </form>
</div>

{% endblock %}
